.bggame1 {
  background-image: url("/assets/immagini/Gioco1/sfondo-gioco-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bggame2 {
  background-image: url("/assets/immagini/Gioco2/sfondo-gioco-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  
}


.astronauta {
  transition: left 0.6s ease, top 0.6s ease;
}

.fade-out {
  animation: fadeOut 0.6s forwards ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}


.fade-in {
  animation: verticalSlideIn 0.7s ease-out;
  transform-origin: center;
}

.fade-out {
  animation: simpleFadeOut 0.5s forwards ease-in;
}

@keyframes simpleFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
  