@import "tailwindcss";
@font-face {
  font-family: "OtomanopeeOne-Regular";
  src: url("./assets/OtomanopeeOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OtomanopeeOne-Regular", sans-serif;
}
