.bggame1 {
    background-image: url("/assets/immagini/sfondo-gioco-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.astronauta {
  transition: left 0.6s ease, top 0.6s ease;
}